

hr.this
{
  border-color: rgb(0, 170, 0);
  

}

.header{
  background-color: rgba(30, 30, 30, 0.1); 
  position:fixed;
  top: 0;
  height: 20px;
  font-size: 37px;
  text-align: left;
  margin-bottom: 100px;
  padding: 2rem 1rem;
  padding-top: 30px;
  color: #eeeeee;
  box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);

}
.header:hover{
  background-color: rgba(255, 255, 255, 0.5);
  position:fixed;
  top: 0;
  height: 20px;
  font-size: 37px;
  text-align: left;
  margin-bottom: 100px;
  padding: 2rem 1rem;
  padding-top: 30px;
  color: #000000;
  box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);

}

body
{
  background-image: url("markus-spiske-iar-afB0QQw-unsplash.jpg");
  background-size: cover;
  background-position: center;

}


.centre1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(51, 255, 51);
  padding: 40px;
  padding-bottom: 10px;
  display: flex;
  border-radius: 20px;
  font-family: 'Playfair Display', serif;
  padding-left: 30px;
  box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);
}

.centre1:hover{
  border: 5px double rgb(0, 170, 0);
}
.body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.link1:link {
  color: rgb(51, 255, 51);    
}

.link1:visited {
  color: rgb(51, 255, 51); 
}

.link1:hover {
  color: red; 
  text-decoration: underline;
}

.link1:active {
  color: black;    
}

.passport-photo {
  margin-top: 35vh;
  top: 50%;
  margin-left:4%;
  width: 300px;
  height: 3*531/4.1px;
  object-fit: cover; 
  border: 2px solid black;
  border-radius:20px;
}

.passport-photo:hover {
  margin-top: 35vh;
  top: 50%;
  margin-left:4%;
  width: 300px;
  height: 3*531/4.1px;
  object-fit: cover; 
  border: 2px solid rgb(0, 170, 0);
  box-shadow: 24px 24px 24px rgba(0, 170, 0, 0.7);
  border-radius:20px;
}